.form__try {
  border-radius: 16px;
  height: 5vh;
  width: 90%;
  text-align: center;
}
.notValid {
  border: 2px solid red;
  border-radius: 16px;
  height: 5vh;
  width: 90%;
  text-align: center;
}

@media (min-width: 713px) and (max-width: 1300px) {
  .form__try,
  .notValid {
    width: 60%;
  }
}
@media (min-width: 1301px) and (max-width: 1800px) {
  .form__try,
  .notValid {
    width: 60%;
  }
}
@media (min-width: 1801px) and (max-width: 100000px) {
  .form__try,
  .notValid {
    width: 60%;
  }
}
