@use "../variables" as v;
.contactForm {
  min-height: 60vh;
  padding: 10%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  .contactForm__try-button-flex {
    display: flex;
    width: 100%;
    justify-content: center;
    .contactForm__try-button {
      width: 40%;
      height: 6vh;
      border-radius: 16px;
      border: 0.02px solid black;
      background-color: v.$lightPink;
      margin: 1%;
      &:hover {
        transform: scale3d(1.01, 1.01, 1.01);
      }
    }
  }
}
