@use "../variables" as v;
.contactForm {
  min-height: 60vh;
  padding: 10%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  .contactForm__try {
    width: 40%;
    height: 6vh;
    border-radius: 16px;
    border: 0.02px solid black;
    background-color: v.$lightPink;
  }
}
