@use "../variables" as v;
@import "../mixin.scss";
.cartFlex {
  min-height: 80vh;
  background-color: v.$landingDark;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .cart__title {
    color: v.$white;
    font-family: v.$fontFamily;
  }
  .cart__buttons-flex {
    display: flex;
    width: 90%;
    justify-content: center;
    .cart__buttons-try {
      @include btn;
    }
  }
}
