@use "../variables" as v;
@import "../mixin.scss";
.idCopy {
  min-height: 80vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: v.$fontFamily;
  .id__link {
    @include links;
  }
  .idCopy__advice {
    font-size: 1rem;
    padding: 1%;
  }
  .idCopy__numberFlex {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .idCopy__copyFlex {
      background-color: v.$darkPink;
      margin: 2%;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 6vh;
      border-radius: 16px;
      width: 70%;
      .idCopy__copy--img {
        height: 100%;
        margin: 1.5%;
      }
    }
  }
}
@media (min-width: 713px) and (max-width: 1000px) {
  .idCopy {
    .idCopy__numberFlex {
      .idCopy__copyFlex {
        width: 30%;
        .idCopy__copy-id {
          font-size: 1rem;
        }
      }
    }
    .idCopy__advice {
      font-size: 1.3rem;
      padding: 0.5%;
    }
    .id__link {
      font-size: 1rem;
    }
  }
}
@media (min-width: 1001px) and (max-width: 1800px) {
  .idCopy {
    .idCopy__numberFlex {
      .idCopy__copyFlex {
        width: 30%;
        .idCopy__copy-id {
          font-size: 1.2rem;
        }
      }
    }
    .idCopy__advice {
      font-size: 1.3rem;
      padding: 0.5%;
    }
    .id__link {
      font-size: 1.2rem;
    }
  }
}
@media (min-width: 1801px) and (max-width: 100000px) {
  .idCopy {
    .idCopy__numberFlex {
      .idCopy__copyFlex {
        width: 30%;
        .idCopy__copy-id {
          font-size: 2rem;
        }
      }
    }
    .idCopy__advice {
      font-size: 1.8rem;
      padding: 0%;
    }
    .id__link {
      font-size: 2rem;
    }
  }
}
