@use "../variables" as v;
@import "../mixin.scss";
.products--flex {
  min-height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: v.$landingDark;
  .product__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1%;
    padding: 1%;
    height: 60vh;
    width: 147px;
    background-color: v.$white;
    text-align: center;
    border-radius: 16px;
    .product__card--img {
      height: 70%;
      width: 100%;
      border-radius: 16px;
    }
    .buttonCart {
      @include btn(50%,);
    }
  }
}

@media (min-width: 713px) and (max-width: 1300px) {
  .products--flex {
    .product__card {
      width: 210px;
      height: 80vh;
    }
  }
}

@media (min-width: 1301px) and (max-width: 1800px) {
  .products--flex {
    .product__card {
      width: 270px;
      height: 80vh;
    }
  }
}
@media (min-width: 1801px) and (max-width: 100000px) {
  .products--flex {
    .product__card {
      width: 470px;
      height: 80vh;
    }
  }
}


