@use "../variables" as v;

.orderStatus__flex {
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  min-height: 60vh;
  width: 99%;
  background-color: v.$landingDark;
  .orderStatus__text {
    color: v.$white;
  }
  .orderStatus__client {
    width: 99%;
    border: 1px solid white;
    display: flex;
    min-height: 20vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .orderStatus__client--text {
      color: white;
    }
  }
}
