*,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0;
  margin: 0;
  font-family: "Oswald", sans-serif;
}
fieldset,
img {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
abbr,
acronym {
  border: 0;
}
a {
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import "variables";
@import "mixin";
@import "components/itemcount";
@import "components/formtry";
@import "components/socialmedia";
@import "components/btn";
@import "nav/flexnav";
@import "nav/nav";
@import "nav/cartimg";
@import "landing/landingflex";
@import "landing/landinga";
@import "cart/cart";
@import "cart/idcopy";
@import "checkout/checkout";
@import "order/ordercontainer";
@import "order/renderorder";
@import "order/orderitem";
@import "products/product";
@import "products/categories";
@import "whoweare/whoweare";
@import "detail/product";
@import "form/contactform";
@import "loading/loading";
@import "footer/footer";
