@use "variables" as v;
@mixin links($color: v.$landingDark, $colorHover: white, $fsize: 0.8rem) {
  color: $color;
  font-family: "Oswald", sans-serif;
  font-size: $fsize;
  &:hover {
    color: $colorHover;
  }
}

@mixin btn($width: 40%, $color: v.$lightPink, $height: 6vh, $fSize: 1.1rem) {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $width;
  height: $height;
  border-radius: 16px;
  border: 0.02px solid black;
  background-color: $color;
  margin: 1%;
  font-size: $fSize;
  font-family: v.$fontFamily;
  &:hover {
    transform: scale3d(1.01, 1.01, 1.01);
  }
}
