@use "../variables" as v;

.cartwidgetFlex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 9;
  background-color: white;
  margin: 13vh 0% 0% 86.5%;
  width: 11%;
  height: 5vh;
  border-radius: 16px;
  .cartwidgetLink {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    .cartImg {
      height: 3vh;
      padding: 0% 0.5% 0% 0.5%;
    }
  }
}
@media (min-width: 573px) and (max-width: 1300px) {
  .cartwidgetFlex {
    width: 5%;
    margin: 13vh 0% 0% 93%;
  }
}
@media (min-width: 1301px) and (max-width: 1800px) {
  .cartwidgetFlex {
    width: 4%;
    margin: 13vh 0% 0% 93%;
  }
}
@media (min-width: 1801px) and (max-width: 100000px) {
  .cartwidgetFlex {
    width: 5%;
    margin: 13vh 0% 0% 93%;
  }
}
