@use "../variables" as v;

.flexNav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1%;
  max-width: 100%;
  background: v.$darkPink;
}
