@use "../variables" as v;

.flexNav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1%;
  width: 100%;
  height: 5vh;
  background: v.$darkPink;
}
